<h1>Welcome, {{DC.user.name}}</h1>
<input type='text' ng-model='filter' placeholder='search'>
<table class='table table-bordered'>
	<thead>
		<tr>
			<th>Category</th>
			<th>Topic</th>
			<th>User Name</th>
			<th>Posts</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat='t in DC.topics | filter: filter'>
			<td>{{t.category}}</td>
			<td><a href="#/topic/{{t._id}}">{{t.name}} | {{t._id}}</a></td>
			<td><a href="#/user/{{t._user._id}}">{{t._user.name}}</a></td>
			<td>{{t.answers.length}}</td>
		</tr>
	</tbody>
</table>
<h2>Add a new Topic</h2>
<div id='topicForm'>
	Topic: <br><input class='newTopIpt' type='text' ng-model='DC.new_topic.name'><br>
	Description: <br><textarea ng-model='DC.new_topic.desc'></textarea><br>
	<p>Category: </p>
	Select from list: <select ng-model='DC.new_topic.category'>
				<option ng-repeat='c in DC.categories'>{{c.name}}</option>
			  </select><br>
    Or add new Category: <br><input id='newCatIpt' ng-model='DC.new_category.name'><button ng-click='DC.createCat()'>Add Category</button>
    <p class='error' ng-if='DC.err'>{{DC.err}}</p>
	<button id='topicBtn' ng-click='DC.createTopic()'>Add Topic</button>
</div>

