	<h1><a href="#/user/{{TC.thisTopic._user._id}}">{{TC.thisTopic._user.name}}</a> posted a topic:</h1>
	<div id='topicInfo'>
		<h3>{{TC.thisTopic.name}}</h3>
		<p>{{TC.thisTopic.desc}}</p>
	</div>
	<h2>Post ur answer here...</h2>
	<textarea ng-model='TC.new_answer.content'></textarea>
	<button ng-click='TC.createAnswer(TC.thisTopic._id)'>Post</button>
	<div ng-repeat='a in TC.answers' class='answerBox'>
		<hr>
		<h4><a href="#/user/{{a._user._id}}">{{a._user.name}}:</a> {{a.content}}</h4>
		<button id='upvote' ng-click='TC.upvote(a)'>:)</button><p>{{a.upvotes}}</p>
		<button id='downvote' ng-click='TC.downvote(a)'>):</button><p>{{a.downvotes}}</p>
		<div class='commentBox'>
			<textarea ng-model='TC.new_comment[a._id].content'></textarea>
			<button ng-click='TC.createComment(a._id, TC.new_comment[a._id])'>Comment</button>
			<div class='comments' ng-repeat='c in a.comments'>
				<hr>
				<a href="#/user/{{c._user._id}}">{{c._user.name}}:</a>
				<p>{{c.content}}</p>
			</div>
		</div>
	</div>