*{
	font-family: monospace;
}
.container{
	margin-top: 38px;
}
#navElements{
	/* position: relative; */
	margin-top: 13px;
	margin-left: 10px;
}
	.navSep{
		display: inline-block;
	}
table{
	border: solid;
}
	thead{
		background-color: #978D8D;
	}
.error{
	font-weight: bold;
	color: #FB6969
}
#topicForm{
	width: 500px;
	margin-left: 50px;
}
	#topicForm select, label, textarea, .newTopIpt{
		display: block;
	}
		#topicBtn{
			margin-top: 10px;
			display: block;
		}
		#newCatIpt{
			display: inline-block;
		}
#topicInfo{
	margin-left: 50px;
}
#upvote{
	display: inline-block;
	background-color: #8C90EB;
	margin: 10px;
}
#downvote{
	display: inline-block;
	background-color: #DA4E4E;
	margin: 10px;
}
.answerBox p{
	display: inline-block;
}
.comments{
	margin-left: 20px;
}