*{
	font-family: monospace;
}
table{
	border: solid;
}
	thead{
		background-color: #978D8D;
	}
.error{
	font-weight: bold;
	color: #FB6969
}
#topicForm{
	width: 500px;
	margin-left: 50px;
}
	#topicForm input, select, button, label, textarea{
		display: block;
	}
#topicInfo{
	margin-left: 50px;
}
#upvote{
	display: inline-block;
	background-color: #8C90EB;
	margin: 10px;
}
#downvote{
	display: inline-block;
	background-color: #DA4E4E;
	margin: 10px;
}
.answerBox p{
	display: inline-block;
}
.comments{
	margin-left: 20px;
}